.header{
	grid-area: header;
	background-color: chocolate;
	display: flex;
	align-items: center;
justify-content: space-between;

	
	}
	.headerImg {
		width: 70px;
		height: 70px;
		object-fit: cover;
	}
	.loginBlock {
		margin-right: 10px;
		color: white;
		display: flex;
		align-items: center;
	}
	.loginBlock a {
		text-decoration: none;
		color: white;
	}
	.loginImg {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		object-fit: cover;
		margin-left: 10px;
	}
