.navBar {
    background-color: #50C878;
}
.nav {
    grid-area: nav;
    padding: 20px;
}
.nav ul li {
    margin-bottom: 10px;
}
.item a {
    text-decoration: none;
}
.active {
    color: cornflowerblue;
}

.item {
    color: darkmagenta;

}