

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.app-wrapper {
	display: grid;
	grid-template-areas: 
	"header header" 
	"nav content";
	grid-template-columns: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;

	
}
.header{
grid-area: header;
background-color: chocolate;

}
.header img {
	width: 70px;
	height: 70px;
	object-fit: cover;
}
.nav{
grid-area: nav;
background-color: #50C878;
}
.content{
	grid-area: content;
	background-color: plum;

}