

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.app-wrapper {
	display: grid;
	grid-template-areas: 
	"header header" 
	"nav content";
	grid-template-columns: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;

	
}

.app-wrapper-content {
	grid-area: content;
	background-color: plum;
}